name: Deploy to test
on: [pull_request]
jobs:
  Deploy-Asset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v11.9
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests
          pip install PyYAML
      - name: execute py script
        run: |
          python .github/scripts/te_deploy.py ${{ steps.changed-files.outputs.all_modified_filess }}
        env:
          CLIENT_ID: ${{ secrets.NON_PROD_SPN_ID }}
          CLIENT_SECRET: ${{ secrets.NON_PROD_SPN_SECRET }}